* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    // font-family: quando, Arial, serif;
    font-family: sans-serif;
}

body {

    margin: auto;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
    background-color: $clr1;
}

img {
    width:100%;
}

#app {
    text-align: center;
}