@font-face {
    font-family: merienda;
    src: url('../fonts/Merienda/Merienda-Regular.ttf');
}

@font-face {
    font-family: quando;
    src: url('../fonts/Quando/Quando-Regular.ttf');
}

@font-face {
    font-family: badScript;
    src: url('../fonts/Bad_Script/BadScript-Regular.ttf');
}
@font-face {
    font-family: undeveloped;
    src: url('../fonts/undeveloped/Undeveloped.ttf');
    // src: url('../fonts/undeveloped/UndevelopedBook.ttf');
}
@font-face {
    font-family: movieFilmstrip;
    src: url('../fonts/movie-filmstrip/Movie\ Filmstrip.ttf');
}
@font-face {
    font-family: krAction;
    src: url('../fonts/kr-action/KR\ Action.ttf');
}
@font-face {
    font-family: Faster_One;
    src: url('../fonts/Faster_One/FasterOne-Regular.ttf');
}
@font-face {
    font-family: acFilmstrip;
    src: url('../fonts/ac-filmstrip/ACFilmstrip.otf');
}
