.list-enter-active,
.list-leave-active {
    transition: all 1s;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px) scale(0.8);
    max-height: 0;
}

.zoom {
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    img {
        transition: transform .4s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    img:hover {
        transform: scale(1.05);
      }
}


.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translate(-10%, -0%);
}
.fade-px-enter-active,
.fade-px-leave-active {
  transition: all 0.5s;
}

.fade-px-enter,
.fade-px-leave-to {
  opacity: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translate(-0%, 20px);
}
.fade2-px-enter-active,
.fade2-px-leave-active {
  transition: all 0.5s;
}

.fade2-px-enter,
.fade2-px-leave-to {
  opacity: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -1000px;
  transform: translate(-0px, -0px);
}