@import './vars';
@import './base';
@import './helpers';
@import './layout';


@font-face {
    font-family: merienda;
    src: url('../fonts/Merienda/Merienda-Regular.ttf');
}

@font-face {
    font-family: quando;
    src: url('../fonts/Quando/Quando-Regular.ttf');
}


/***************** Base *****************/



/************************** Tablet and Desktop **************************/

@media (min-width: 500px) {
    // Tablet

}

@media (min-width: 1030px) {
    // Desktop
}

/**************** Helpers ****************/

/********** Flex **********/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.space-start {
    justify-content: start;
}

.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-child {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
}

/********** Lists **********/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.align-left {
    text-align: left;
}

.text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}