@import './vars';
@import './layout';


@font-face {
    font-family: merienda;
    src: url('../fonts/Merienda/Merienda-Regular.ttf');
}

@font-face {
    font-family: quando;
    src: url('../fonts/Quando/Quando-Regular.ttf');
}


/***************** Base *****************/

* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: quando, Arial, serif;
}

body {

    margin: auto;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
    // min-height: 98vh;
    background-color: $clr1;
    // background: linear-gradient(215deg, rgba(41, 124, 172, 0.8),rgba(255, 72, 0, 0) 70.71%),linear-gradient(80deg, rgba(255, 246, 120, 0.8),rgba(0, 255, 0, 0) 70.71%), linear-gradient(356deg, rgba(206, 56, 56, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#app {
    text-align: center;
    color: #e2eaf1;
}

/************************** Tablet and Desktop **************************/

@media (min-width: 500px) {
    // Tablet

}

@media (min-width: 1030px) {
    // Desktop
}

/**************** Helpers ****************/

/********** Flex **********/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.space-start {
    justify-content: start;
}

.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-child {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
}

/********** Lists **********/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.align-left {
    text-align: left;
}

.text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}